# Install packages and dependencies

In [ ]:
!pip install ipython-sql mysql-connector-python pymysql

Requirement already satisfied: ipython-sql in c:\users\jm65o\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: mysql-connector-python in c:\users\jm65o\anaconda3\lib\site-packages (9.1.0)
Requirement already satisfied: pymysql in c:\users\jm65o\anaconda3\lib\site-packages (1.1.1)

WARNING: Skipping C:\Users\jm65o\anaconda3\Lib\site-packages\plotly-5.9.0.dist-info due to invalid metadata entry 'name'
WARNING: Skipping C:\Users\jm65o\anaconda3\Lib\site-packages\plotly-5.9.0.dist-info due to invalid metadata entry 'name'
ERROR: Could not find a version that satisfies the requirement MySQLdb (from versions: none)
ERROR: No matching distribution found for MySQLdb
WARNING: Skipping C:\Users\jm65o\anaconda3\Lib\site-packages\plotly-5.9.0.dist-info due to invalid metadata entry 'name'

# Load SQL module

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Connect to the database

In [5]:
# CHANGE 'root' TO YOUR USERNAME
# CHANGE 'mysql1sfun!' TO YOUR PASSWORD

connection_url = 'mysql+pymysql://root:mysql1sfun!@localhost:3306'

%sql {connection_url}

# Create the schema (wonderland_elections)

In [6]:
%%sql

-- Create the schema (database) if it doesn't already exist
CREATE DATABASE IF NOT EXISTS wonderland_elections;

 * mysql+pymysql://root:***@localhost:3306
1 rows affected.

[]

# Run `dropAll.sql` Script
### Ensure we are working with a blank schema (wonderland_elections)

In [38]:
with open('dropALL.sql', 'r') as file:
    drop_all_script = file.read()

%sql {drop_all_script}
print("All tables dropped successfully.")

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
All tables dropped successfully.

# Run `createAll.sql` Script

### Create all the necessary tables and relations within the schema

In [39]:
with open('createALL.sql', 'r') as file:
    create_all_script = file.read()

%sql {create_all_script}
print("All tables created successfully.")

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
All tables created successfully.

# Run `loadALL.sql` Script

### Create new sample inserts into each table

In [40]:
with open('loadALL.sql', 'r') as file:
    load_all_script = file.read()

%sql {load_all_script}
print("All inserts added successfully.")

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
12 rows affected.
6 rows affected.
3 rows affected.
6 rows affected.
4 rows affected.
24 rows affected.
18 rows affected.
All inserts added successfully.

# Section A: Activities

## 1 - A Clerk creating a new ballot

In [15]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [21]:
%%sql

-- Step 1: Dynamically determine the next ballot name
SET @next_ballot_num = (SELECT COUNT(*) + 1 FROM Ballot);
SET @ballot_name = CONCAT('B', @next_ballot_num);

-- Step 2: Randomly select a clerk from Elections_Staff
SET @added_by = (SELECT staff_id FROM Elections_Staff WHERE staff_type = 'Clerk' ORDER BY RAND() LIMIT 1);

-- Step 3: Define the ballot details
SET @question = 'Do you agree with Policy B?';
SET @availability_start = '2024-12-01 08:00:00';
SET @availability_end = '2024-12-10 18:00:00';

-- Step 4: Insert the new ballot
INSERT INTO Ballot (ballot_name, question, availability_start, availability_end, added_by)
VALUES (@ballot_name, @question, @availability_start, @availability_end, @added_by);

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[]

## 2 - A Folk registering to vote at a center

In [31]:
%%sql

-- Step 1: Randomly select a folk
SET @folk_id = (SELECT folk_id FROM Folks ORDER BY RAND() LIMIT 1);

-- Step 2: Dynamically determine a new unique registry_id
SET @new_registry_id = (SELECT COUNT(*) + 1 FROM Voting_Registry);

-- Step 3: Check if the folk is already registered
SET @exists = (SELECT COUNT(*) FROM Voting_Registry WHERE folk_id = @folk_id);

-- Step 4: Insert or update the registration
-- Update the registration if it exists
UPDATE Voting_Registry
SET registration_date = NOW()
WHERE folk_id = @folk_id;

-- Insert a new registration only if the update affected 0 rows
INSERT INTO Voting_Registry (registry_id, folk_id, acronym, registration_date)
SELECT @new_registry_id, @folk_id, (SELECT acronym FROM Voting_Center ORDER BY RAND() LIMIT 1), NOW()
WHERE NOT EXISTS (
    SELECT 1 FROM Voting_Registry WHERE folk_id = @folk_id
);

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
2 rows affected.
0 rows affected.

[]

## 3 - A Clerk modifying the availability period of a ballot

In [ ]:
%%sql

-- Modify the availability period of a ballot
SET @ballot_name = (SELECT ballot_name FROM Ballot ORDER BY RAND() LIMIT 1);
SET @new_start = '2024-12-02 08:00:00';
SET @new_end = '2025-12-12 18:00:00';

UPDATE Ballot
SET availability_start = @new_start, availability_end = @new_end
WHERE ballot_name = @ballot_name;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[]

## 4 - A Voter casting a ballot while confirming a valid voting registration

### **Justification for Isolation Level**
#### The Serializable isolation level ensures strict consistency by preventing conflicts when multiple transactions access the same data. This guarantees the integrity of the voting process by avoiding issues like duplicate votes or inconsistent updates.

## 4.1 - start transaction

In [47]:
%%sql

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
START TRANSACTION;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.

[]

## 4.2 - give folk_id who is registered at their given voting center

In [48]:
%%sql

SET @voter_id = 9; -- FOLK_ID
SET @voting_center = 'VC3'; -- VOTING CENTER ACRONYM

SELECT COUNT(DISTINCT registry_id) AS is_registered
FROM Voting_Registry
WHERE folk_id = @voter_id
  AND acronym = @voting_center;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
1 rows affected.

[(2,)]

## 4.3 - give ballot name

In [49]:
%%sql

SET @ballot_name = 'B1'; -- BALLOT NAME

SELECT COUNT(*) AS is_ballot_available
FROM Ballot
WHERE ballot_name = @ballot_name
  AND NOW() BETWEEN availability_start AND availability_end;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
1 rows affected.

[(1,)]

## 4.4 - give answer to ballot question (derived from ballot name)

In [ ]:
%%sql

SET @answer = 'YES'; -- ANSWER
SET @new_vote_id = (SELECT COALESCE(MAX(vote_id), 0) + 1 FROM Casted_Vote);

INSERT INTO Casted_Vote (registry_id, ballot_name, answer, cast_date, acronym)
SELECT 
    vr.registry_id,
    @ballot_name,
    @answer,
    NOW(),
    @voting_center
FROM Voting_Registry vr
WHERE vr.folk_id = @voter_id
  AND vr.acronym = @voting_center
LIMIT 1;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
1 rows affected.

[]

## 4.5 - complete the transaction

In [51]:
%%sql

COMMIT;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.

[]

## 5 - A Staff removing a folk (and all their associated information)

In [ ]:
%%sql

-- Remove a folk and all associated information
SET @folk_id_to_remove = (SELECT folk_id FROM Folks ORDER BY RAND() LIMIT 1);

DELETE FROM Casted_Vote WHERE registry_id IN (SELECT registry_id FROM Voting_Registry WHERE folk_id = @folk_id_to_remove);
DELETE FROM Voting_Registry WHERE folk_id = @folk_id_to_remove;
DELETE FROM Elections_Staff WHERE folk_id = @folk_id_to_remove;
DELETE FROM Folks WHERE folk_id = @folk_id_to_remove;

# Section B: Queries/Reports

## 1 - List the name, city, and email (any single email suffices) of all folks.

In [27]:
%%sql

SELECT 
    CONCAT(f.first_name, ' ', f.last_name) AS full_name,
    SUBSTRING_INDEX(SUBSTRING_INDEX(p.address, ',', 3), ',', -1) AS city,
    f.email
FROM Folks f
JOIN Places p ON f.address = p.address
WHERE p.place_type = 'Residence';

 * mysql+pymysql://root:***@localhost:3306
12 rows affected.

[('John Doe', ' Catonsville', 'john.doe@gmail.com'),
 ('Jane Smith', ' Washington', 'jane.smith@gmail.com'),
 ('Emily Brown', ' Washington', 'emily.brown@gmail.com'),
 ('Michael Johnson', ' Washington', 'michael.johnson@gmail.com'),
 ('Sarah Taylor', ' Washington', 'sarah.taylor@gmail.com'),
 ('David Wilson', ' Catonsville', 'david.wilson@gmail.com'),
 ('Linda Garcia', ' Washington', 'linda.garcia@gmail.com'),
 ('James Martinez', ' Cambridge', 'james.martinez@gmail.com'),
 ('Barbara Anderson', ' Washington', 'barbara.anderson@gmail.com'),
 ('Paul Thomas', ' Catonsville', 'paul.thomas@gmail.com'),
 ('Susan Lee', ' Cambridge', 'susan.lee@gmail.com'),
 ('Alice Johnson', ' Washington', 'alice.johnson@gmail.com')]

## 2 - List the city, state, and the number of residents of each city in Wonderland (skip cities with no residents) in decreasing order of number of residents.

In [39]:
%%sql

SELECT 
    SUBSTRING_INDEX(SUBSTRING_INDEX(p.address, ',', 3), ',', -1) AS city,
    SUBSTRING_INDEX(SUBSTRING_INDEX(p.address, ',', 4), ',', -1) AS state,
    COUNT(*) AS num_residents
FROM Places p
JOIN Folks f ON f.address = p.address
WHERE p.place_type = 'Residence'
GROUP BY city, state
ORDER BY num_residents DESC;

 * mysql+pymysql://root:***@localhost:3306
3 rows affected.

[(' Washington', ' MD', 7),
 (' Catonsville', ' MD', 3),
 (' Cambridge', ' MD', 2)]

## 3 - List each center together with its number of currently registered folks (include states with no inhabited places) in increasing alphabetical order of their zipcode (I think you mean **acronym**).

In [16]:
%%sql

SELECT 
    vc.acronym AS voting_center,
    COUNT(vr.registry_id) AS num_registered
FROM Voting_Center vc
LEFT JOIN Voting_Registry vr ON vc.acronym = vr.acronym
GROUP BY vc.acronym
ORDER BY vc.acronym;

 * mysql+pymysql://root:***@localhost:3306
3 rows affected.

[('VC1', 8), ('VC2', 8), ('VC3', 8)]

## 4 - Find the distinct identifiers and names of folks registered at a given voting center within a given time period.

In [17]:
%%sql

SET @center = 'VC1'; -- Example voting center acronym
SET @start_date = '2024-11-01'; -- Example start date
SET @end_date = '2024-11-30'; -- Example end date

SELECT DISTINCT
    f.folk_id,
    CONCAT(f.first_name, ' ', f.last_name) AS full_name
FROM Folks f
JOIN Voting_Registry vr ON f.folk_id = vr.folk_id
WHERE vr.acronym = @center AND vr.registration_date BETWEEN @start_date AND @end_date;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
4 rows affected.

[(1, 'John Doe'),
 (4, 'Michael Johnson'),
 (7, 'Linda Garcia'),
 (10, 'Paul Thomas')]

## 5 - Find for a given month, the number of unique registrations at any voting center which is within 5 miles from the center of Megapolis, except for voting centers in a given (exclusion) list of voting centers.

In [70]:
%%sql

SET @megapolis_x = 15; -- Try with other Megapolis X-coordinates
SET @megapolis_y = 22; -- Try with other Megapolis Y-coordinates
SET @month = '2024-11'; -- Example month

SELECT 
    COUNT(DISTINCT vr.registry_id) AS unique_registrations
FROM Voting_Registry vr
WHERE vr.acronym IN (
    SELECT vc.acronym
    FROM Voting_Center vc
    JOIN Places p ON vc.address = p.address
    WHERE SQRT(
              POW(SUBSTRING_INDEX(p.xy_coordinates, ',', 1) - @megapolis_x, 2) + 
              POW(SUBSTRING_INDEX(p.xy_coordinates, ',', -1) - @megapolis_y, 2)
          ) <= 5
      AND vc.acronym NOT IN ('VC1', 'VC2')
)
AND DATE_FORMAT(vr.registration_date, '%Y-%m') = @month;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[(4,)]

### 5.1 - show with debugging output

In [94]:
%%sql

SET @megapolis_x = 15; -- Megapolis X-coordinate
SET @megapolis_y = 22; -- Megapolis Y-coordinate
SET @month = '2024-11'; -- Example month

SELECT 
    vr.registry_id,
    CONCAT(f.first_name, ' ', f.last_name) AS full_name,
    vr.acronym AS voting_center,
    vr.registration_date,
    SQRT(
        POW(SUBSTRING_INDEX(p.xy_coordinates, ',', 1) - @megapolis_x, 2) + 
        POW(SUBSTRING_INDEX(p.xy_coordinates, ',', -1) - @megapolis_y, 2)
    ) AS distance
FROM Voting_Registry vr
JOIN Folks f ON vr.folk_id = f.folk_id
JOIN Voting_Center vc ON vr.acronym = vc.acronym
JOIN Places p ON vc.address = p.address
WHERE SQRT(
          POW(SUBSTRING_INDEX(p.xy_coordinates, ',', 1) - @megapolis_x, 2) + 
          POW(SUBSTRING_INDEX(p.xy_coordinates, ',', -1) - @megapolis_y, 2)
      ) <= 5
  AND vc.acronym NOT IN ('VC1', 'VC2') -- Exclusion list
  AND DATE_FORMAT(vr.registration_date, '%Y-%m') = @month;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
4 rows affected.

[(3, 'Emily Brown', 'VC3', datetime.date(2024, 11, 2), 3.0),
 (6, 'David Wilson', 'VC3', datetime.date(2024, 11, 4), 3.0),
 (9, 'Barbara Anderson', 'VC3', datetime.date(2024, 11, 6), 3.0),
 (12, 'Alice Johnson', 'VC3', datetime.date(2024, 11, 8), 3.0)]

## 6 - Find the most popular voting center(s) (in terms of total number of registrations) in a given time period among those in a given city.

In [95]:
%%sql

SET @start_date = '2024-11-01'; -- Start of the time period
SET @end_date = '2024-11-30';   -- End of the time period
SET @city = 'Elkridge';       -- City to filter voting centers

WITH CenterRegistrations AS (
    SELECT 
        vc.acronym AS voting_center,
        COUNT(vr.registry_id) AS total_registrations
    FROM Voting_Registry vr
    JOIN Voting_Center vc ON vr.acronym = vc.acronym
    JOIN Places p ON vc.address = p.address
    WHERE 
        p.address LIKE CONCAT('%', @city, '%') -- Filter centers in the given city
        AND vr.registration_date BETWEEN @start_date AND @end_date -- Filter by time period
    GROUP BY vc.acronym
)
SELECT voting_center, total_registrations
FROM CenterRegistrations
WHERE total_registrations = (
    SELECT MAX(total_registrations) FROM CenterRegistrations
);

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[('VC3', 4)]

## 7 - Find the unique folk that have valid registrations with every voting center on a given state.

In [ ]:
%%sql

SET @state = 'MD'; -- Should only return John Doe (as he is the only one who has been registered to vote in EVERY voting center in MD)

WITH StateVotingCenters AS (
    SELECT vc.acronym
    FROM Voting_Center vc
    JOIN Places p ON vc.address = p.address
    WHERE p.address LIKE CONCAT('%', @state, '%') -- Filter by state
),
FolkRegistrationCounts AS (
    SELECT 
        vr.folk_id,
        COUNT(DISTINCT vr.acronym) AS registered_centers
    FROM Voting_Registry vr
    WHERE vr.acronym IN (SELECT acronym FROM StateVotingCenters)
    GROUP BY vr.folk_id
),
StateCenterCount AS (
    SELECT COUNT(*) AS total_centers
    FROM StateVotingCenters
)
SELECT 
    f.folk_id,
    CONCAT(f.first_name, ' ', f.last_name) AS full_name
FROM FolkRegistrationCounts frc
JOIN Folks f ON frc.folk_id = f.folk_id
WHERE frc.registered_centers = (SELECT total_centers FROM StateCenterCount);

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
1 rows affected.

[(1, 'John Doe')]

## 8 - Find folks that registered at a voting center that is farther away than the voting center closest to their residence (break ties alphabetically by center’s acronym).

In [117]:
%%sql

WITH ResidenceCoordinates AS (
    SELECT 
        f.folk_id,
        p.xy_coordinates AS residence_coords
    FROM 
        Folks f
    JOIN 
        Places p
    ON 
        f.address = p.address
    WHERE 
        p.place_type = 'Residence'
),
VotingCenterDistances AS (
    SELECT 
        r.folk_id,
        v.acronym AS voting_center_acronym,
        p.address AS voting_center_address,
        p.xy_coordinates AS voting_center_coords,
        r.residence_coords,
        SQRT(POW(SUBSTRING_INDEX(r.residence_coords, ',', 1) - SUBSTRING_INDEX(p.xy_coordinates, ',', 1), 2) + 
             POW(SUBSTRING_INDEX(r.residence_coords, ',', -1) - SUBSTRING_INDEX(p.xy_coordinates, ',', -1), 2)) AS distance
    FROM 
        ResidenceCoordinates r
    JOIN 
        Places p
    ON 
        p.place_type = 'Voting Center'
    JOIN 
        Voting_Center v
    ON 
        p.address = v.address
),
ClosestVotingCenter AS (
    SELECT 
        folk_id,
        MIN(distance) AS closest_distance
    FROM 
        VotingCenterDistances
    GROUP BY 
        folk_id
),
RegisteredVotingDistance AS (
    SELECT 
        r.folk_id,
        r.acronym AS registered_center,
        vcd.distance AS registered_distance,
        cvc.closest_distance
    FROM 
        Voting_Registry r
    JOIN 
        VotingCenterDistances vcd
    ON 
        r.folk_id = vcd.folk_id AND r.acronym = vcd.voting_center_acronym
    JOIN 
        ClosestVotingCenter cvc
    ON 
        r.folk_id = cvc.folk_id
)
SELECT 
    folk_id,
    registered_center,
    registered_distance,
    closest_distance
FROM 
    RegisteredVotingDistance
WHERE 
    registered_distance > closest_distance;

 * mysql+pymysql://root:***@localhost:3306
14 rows affected.

[(1, 'VC3', 5.656854249492381, 1.4142135623730951),
 (1, 'VC2', 4.242640687119285, 1.4142135623730951),
 (2, 'VC2', 5.656854249492381, 2.8284271247461903),
 (2, 'VC2', 5.656854249492381, 2.8284271247461903),
 (3, 'VC3', 7.0710678118654755, 2.8284271247461903),
 (3, 'VC3', 7.0710678118654755, 2.8284271247461903),
 (5, 'VC2', 5.656854249492381, 2.8284271247461903),
 (5, 'VC2', 5.656854249492381, 2.8284271247461903),
 (6, 'VC3', 5.656854249492381, 1.4142135623730951),
 (6, 'VC3', 5.656854249492381, 1.4142135623730951),
 (9, 'VC3', 7.0710678118654755, 2.8284271247461903),
 (9, 'VC3', 7.0710678118654755, 2.8284271247461903),
 (12, 'VC3', 7.0710678118654755, 2.8284271247461903),
 (12, 'VC3', 7.0710678118654755, 2.8284271247461903)]

### 8.1 - debugging output

In [114]:
%%sql

WITH ResidenceCoordinates AS (
    SELECT 
        f.folk_id,
        p.xy_coordinates AS residence_coords
    FROM 
        Folks f
    JOIN 
        Places p
    ON 
        f.address = p.address
    WHERE 
        p.place_type = 'Residence'
),
VotingCenterDistances AS (
    SELECT 
        r.folk_id,
        v.acronym AS voting_center_acronym,
        p.address AS voting_center_address,
        p.xy_coordinates AS voting_center_coords,
        r.residence_coords,
        SQRT(POW(SUBSTRING_INDEX(r.residence_coords, ',', 1) - SUBSTRING_INDEX(p.xy_coordinates, ',', 1), 2) + 
             POW(SUBSTRING_INDEX(r.residence_coords, ',', -1) - SUBSTRING_INDEX(p.xy_coordinates, ',', -1), 2)) AS distance
    FROM 
        ResidenceCoordinates r
    JOIN 
        Places p
    ON 
        p.place_type = 'Voting Center'
    JOIN 
        Voting_Center v
    ON 
        p.address = v.address
)
SELECT 
    vcd.folk_id,
    vcd.voting_center_acronym,
    vcd.voting_center_address,
    vcd.voting_center_coords,
    vcd.residence_coords,
    vcd.distance
FROM 
    VotingCenterDistances vcd
ORDER BY 
    vcd.distance DESC;

 * mysql+pymysql://root:***@localhost:3306
36 rows affected.

[(7, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '10,20', 7.0710678118654755),
 (12, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '10,20', 7.0710678118654755),
 (5, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '10,20', 7.0710678118654755),
 (2, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '10,20', 7.0710678118654755),
 (4, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '10,20', 7.0710678118654755),
 (9, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '10,20', 7.0710678118654755),
 (3, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '10,20', 7.0710678118654755),
 (6, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '11,21', 5.656854249492381),
 (1, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '11,21', 5.656854249492381),
 (7, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '10,20', 5.656854249492381),
 (2, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '10,20', 5.656854249492381),
 (9, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '10,20', 5.656854249492381),
 (3, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '10,20', 5.656854249492381),
 (10, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '11,21', 5.656854249492381),
 (4, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '10,20', 5.656854249492381),
 (12, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '10,20', 5.656854249492381),
 (5, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '10,20', 5.656854249492381),
 (1, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '11,21', 4.242640687119285),
 (6, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '11,21', 4.242640687119285),
 (10, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '11,21', 4.242640687119285),
 (2, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '10,20', 2.8284271247461903),
 (3, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '10,20', 2.8284271247461903),
 (4, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '10,20', 2.8284271247461903),
 (5, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '10,20', 2.8284271247461903),
 (9, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '10,20', 2.8284271247461903),
 (7, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '10,20', 2.8284271247461903),
 (8, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '13,23', 2.8284271247461903),
 (11, 'VC3', '111, Cedar St, Elkridge, MD, 21075', '15,25', '13,23', 2.8284271247461903),
 (12, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '10,20', 2.8284271247461903),
 (1, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '11,21', 1.4142135623730951),
 (8, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '13,23', 1.4142135623730951),
 (10, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '11,21', 1.4142135623730951),
 (11, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '13,23', 1.4142135623730951),
 (11, 'VC2', '999, Birch St, Columbia, MD, 20588', '14,24', '13,23', 1.4142135623730951),
 (6, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '11,21', 1.4142135623730951),
 (8, 'VC1', '789, Pine St, Crisfield, MD, 2187', '12,22', '13,23', 1.4142135623730951)]

## 9 - Write a SQL function that returns the acronym of the voting center closest to the residence of a given folk among those whose operating period(s) contain a given date (return NULL if no such center exists; break ties at alphabetically by acronym).

In [142]:
%%sql

DROP FUNCTION IF EXISTS ClosestVotingCenterForDate;

CREATE FUNCTION ClosestVotingCenterForDate(
    given_folk_id INT,
    given_date DATE
)
RETURNS VARCHAR(4)
DETERMINISTIC
BEGIN
    DECLARE closest_center_acronym VARCHAR(4);
    SELECT vcd.voting_center_acronym
    INTO closest_center_acronym
    FROM (
        WITH ResidenceCoordinates AS (
            SELECT 
                f.folk_id,
                p.xy_coordinates AS residence_coords
            FROM 
                Folks f
            JOIN 
                Places p
            ON 
                f.address = p.address
            WHERE 
                p.place_type = 'Residence'
        ),
        VotingCenterDistances AS (
            SELECT 
                r.folk_id,
                v.acronym AS voting_center_acronym,
                p.address AS voting_center_address,
                p.xy_coordinates AS voting_center_coords,
                r.residence_coords,
                SQRT(POW(SUBSTRING_INDEX(r.residence_coords, ',', 1) - SUBSTRING_INDEX(p.xy_coordinates, ',', 1), 2) + 
                     POW(SUBSTRING_INDEX(r.residence_coords, ',', -1) - SUBSTRING_INDEX(p.xy_coordinates, ',', -1), 2)) AS distance
            FROM 
                ResidenceCoordinates r
            JOIN 
                Places p
            ON 
                p.place_type = 'Voting Center'
            JOIN 
                Voting_Center v
            ON 
                p.address = v.address
            WHERE 
                v.op_periods LIKE CONCAT('%', given_date, '%')
        )
        SELECT 
            voting_center_acronym
        FROM 
            VotingCenterDistances
        ORDER BY 
            distance ASC, voting_center_acronym ASC
        LIMIT 1
    ) AS closest;

    RETURN closest_center_acronym;
END;

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.
0 rows affected.

[]

### 9.1 - call function

In [ ]:
%%sql

SELECT ClosestVotingCenterForDate(1, '2024-11-01') AS closest_center;

## 10 - For a given ballot, construct a cross-tabulation of voting centers (acronym) as rows, unique ballot answers (options) as columns, and cells indicating number of cast votes at the row’s center with the column’s option.

In [123]:
%%sql

SELECT 
    vc.acronym AS voting_center,
    SUM(CASE WHEN cv.answer = 'YES' THEN 1 ELSE 0 END) AS yes_votes,
    SUM(CASE WHEN cv.answer = 'NO' THEN 1 ELSE 0 END) AS no_votes,
    SUM(CASE WHEN cv.answer = 'ABSTAIN' THEN 1 ELSE 0 END) AS abstain_votes,
    SUM(CASE WHEN cv.answer = 'NULL' THEN 1 ELSE 0 END) AS null_votes
FROM Casted_Vote cv
JOIN Voting_Center vc ON cv.acronym = vc.acronym
WHERE cv.ballot_name = 'B1' -- Replace with desired ballot (B1 or B2)
GROUP BY vc.acronym;

 * mysql+pymysql://root:***@localhost:3306
3 rows affected.

[('VC1', Decimal('2'), Decimal('0'), Decimal('1'), Decimal('0')),
 ('VC2', Decimal('1'), Decimal('1'), Decimal('1'), Decimal('0')),
 ('VC3', Decimal('1'), Decimal('2'), Decimal('0'), Decimal('0'))]